{# app/views/posts/show.phtml #}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - An example blog</title>
    </head>
    <body>
		Hello<br>
        {{ name }}<br>
		{{ email }}<br>

    </body>
</html>